<div class="row">
    <div class="col-md-12">
        <% flash.each do |key, message| %>
            <div class="text-center alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
                <%= message %>
            </div>
        <%end%>
    </div>
</div>
<h1>Workout Lounge!</h1>
<p>Show off your workout to your friends and family</p>